body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

.backgroung-header {
    background-color: #0222CF;
    padding: 2% 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 300px;
    height: 100px;
    display: flex;
}

.links-header {
    display: flex;
   
}
.links-header>* {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 2em;
    color: white;
    font-size: 20px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    gap: 2em
}

.imagen-ciclista {
    width: 300px;
    height: 300px;
}

.subheader-left {
    color: #fff;
}

.subheader-left>h1 {
    font-size: 48px;
}

.subheader-left>p {
    font-size: 18px;
    color: #E5E7EB;
}

.subheader-left>button {
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    color: white;
    background-color: #3882F6;
    border-radius: 10%;
}

.container-medium {
    padding: 2% 20%;
}

.container-medium>h2{
    text-align: center;
}

.modalidades-ciclismo {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.modalidad {
    flex: 1;
}

.cuadro {
    border:#3882F6 3px solid;
    height: 12rem;
    border-radius: 10px;
}

.modalidad>p {
    text-align: center;
}

.container-low {
    background-color: #E5E7EB;
    padding: 2% 20%;
}

.text-container-low {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.frase-low {
    font-weight: 700;
    text-align: end;
    font-size: 16px;
}

.container-blue {
    padding: 5% 10%;
    color: #E5E7EB;
}

.interior {
    padding: 5% 10%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: #3882F6;
    border-radius: 10px;
}

.interior-left>h2{
    font-size: 18px;
    margin: 5px 0px;
}

.interior-left>p{
    font-size: 14px;
    margin: 5px 0px;
}

.interior-right>button {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    color: white;
    background-color: transparent;
    border-radius: 10%;
    border: 1px solid #E5E7EB;
}

.footer {
    background-color: #0222CF;
    padding: 1% 10%;
}

.copyright {
    text-align: center;
    color: #E5E7EB;
    font-size: 14px;
}